.nav-toggle {
  width: 100%;
  padding: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--darker);
}
#toggle {
  display: none;
}

.toggle {
  font-size: 3.2rem;
  color: white;
}

#toggle:checked + .side-nav {
  display: flex;
}

.header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  //padding: 3vmin;
}

// .header__logo svg {
//   //width: 100%;
//   height: 15%;
//   // margin: 2vh;
//   display: flex;
//   justify-content: space-evenly;
// }

.logo-mobile {
  object-fit: contain;
}

.logo-desktop {
  display: none;
}

.card {
  background-color: white;
  width: 90%;
  padding: 5%;
  margin: 3rem 0;
  box-shadow: var(--shadow);
  //border-radius: 10px;
}

.card-full {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: column;
}

.btn {
  text-transform: uppercase;
  vertical-align: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem;
  width: 25rem;
  color: white;
  //border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-dark {
  background-image: linear-gradient(
    to right,
    var(--primary-light),
    var(--primary-dark)
  );
}

.btn-light {
  background-color: white;
}

.btn-large {
  width: 85%;
}

.btn:hover {
  box-shadow: var(--shadow-hover);
}

#tribe-events-content table.tribe-events-calendar {
  height: 50vh;
}

.nav-about {
  background-color: white;
  width: 100%;
  padding: 3vmin;
  box-shadow: var(--shadow);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 1.6rem;
}

.about-back {
  justify-content: flex-start;
}

.contact__email {
  margin: 1rem 3rem;
}

input[type="text"] {
  background-color: var(--light);
  border: none;
  color: #000;
  width: 100%;
  height: 3rem;
  margin: 1.5rem 0;
  //border-radius: 10px;
}

input[type="email"] {
  background-color: var(--light);
  border: none;
  color: #000;
  width: 100%;
  height: 3rem;
  margin: 1.5rem 0;
  //border-radius: 10px;
}

textarea {
  background-color: var(--light);
  border: none;
  color: #000;
  width: 100%;
  margin: 1.5rem 0 3rem 0;
  //border-radius: 10px;
}

input[type="submit"] {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  width: 40%;
  color: white;
  //border-radius: 100px;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--primary-light),
    var(--primary-dark)
  );
  box-shadow: var(--shadow);
}

input[type="submit"]:hover {
  box-shadow: var(--shadow-hover);
}

.contact__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: linear-gradient(
    to right,
    var(--primary-light),
    var(--primary-dark)
  );
  text-align: left;
  grid-area: i;
  padding: 1rem;
  //border-radius: 10px;
}

.contact__form {
  grid-area: f;
}

.contact__map {
  grid-area: m;
  //border-radius: 10px;
}

label {
  font-size: 1.5rem;
  //text-transform: uppercase;
}

input[type="file"] {
  margin: 1.5rem 0 3rem 0;
}

select {
  margin: 3rem 0;
  width: 100%;
  height: 3rem;
}

.contact__phone {
  margin: 1rem 3rem;
  font-size: 2.5rem;
}

// testimonial ratings
.stars {
  margin-left: 1rem;
}

.star {
  color: var(--primary);
}

.star-grey {
  color: var(--darker);
}

// gallery
.gallery {
  margin: 3rem;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery img {
  display: block;
  width: 100%;
  height: 350px;
  //border-radius: 10px;
  object-fit: cover;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.gallery img:hover {
  box-shadow: var(--shadow-hover);
}

.img-large {
  width: 90%;
  margin: 3rem;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//home
.home-testimonials__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-direction: column;
  justify-content: space-around;
  padding: 1vh 3vh;
}

body > div > div > div > div > div > div.home__call {
  padding: 5% 0;
}

body > div > div > div > div > div > div.home__testimonials {
  padding: 5% 0;
}

.event__date {
  padding: 4rem;
}

.home__events {
  grid-area: e;
  background-color: white;
  width: 95%;
  padding: 3vh;
  justify-self: center;
  box-shadow: var(--shadow);
  //border-radius: 10px;
  display: flex;
  justify-content: center;
}

.home__call {
  grid-area: c;
  background-color: white;
  width: 95%;
  justify-self: center;
  padding: 3vh;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  //border-radius: 10px;
}

.home__testimonials {
  grid-area: t;
  background-color: var(--primary);
  color: white;
  height: 100%;
  width: 95%;
  justify-self: center;
  padding: 3vh;
  box-shadow: var(--shadow);
  //border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-testimonials__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home__testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 1vh 0;
}

.home__events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__events--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home__event {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  margin: 1.5rem;
}

.event__date {
  background-image: linear-gradient(
    to right,
    var(--primary),
    var(--primary-dark)
  );
  /* background-color: var(--primary); */
  color: white;
  display: block;
  //border-radius: 10px;
  height: 10vh;
  width: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  width: 60%;
}

.event__month {
  display: block;
  font-size: 3rem;
  line-height: 38px;
}

.event__day {
  display: block;
  font-size: 2.3rem;
}

.home__img {
  width: 100%;
  box-shadow: var(--shadow);
  //border-radius: 10px;
}

@include tablet-up {
  .nav-toggle {
    display: none;
  }
  .toggle {
    display: none;
  }
  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    // padding: 3vh;
  }

  // .header__logo svg {
  //   width: 95%;
  //   height: 20%;
  //   display: flex;
  //   justify-content: space-evenly;
  // }

  .logo-mobile {
    display: none;
  }
  
  .logo-desktop {
    object-fit: contain;
    display: block;
  }

  .card {
    background-color: white;
    width: 90%;
    padding: 5%;
    margin: 3rem 0;
    box-shadow: var(--shadow);
    border-radius: 10px;
  }

  .card-full {
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: column;
  }

  .btn {
    text-transform: uppercase;
    vertical-align: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2rem;
    width: 25rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .btn-dark {
    background-image: linear-gradient(
      to right,
      var(--primary-light),
      var(--primary-dark)
    );
  }

  .btn-light {
    background-color: white;
  }

  .btn-large {
    width: 85%;
  }

  .btn:hover {
    box-shadow: var(--shadow-hover);
  }

  #tribe-events-content {
    border-radius: 10px;
  }

  #tribe-events-content table.tribe-events-calendar {
    height: 50vh;
  }

  .nav-about {
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    box-shadow: var(--shadow);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
  }

  .about-back {
    justify-content: flex-start;
  }

  .contact__email {
    margin: 1rem 3rem;
  }

  input[type="text"] {
    background-color: var(--light);
    border: none;
    color: #000;
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0;
    border-radius: 10px;
  }

  input[type="email"] {
    background-color: var(--light);
    border: none;
    color: #000;
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0;
    border-radius: 10px;
  }

  textarea {
    background-color: var(--light);
    border: none;
    color: #000;
    width: 100%;
    margin: 1.5rem 0 3rem 0;
    border-radius: 10px;
  }

  input[type="submit"] {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    width: 40%;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(
      to right,
      var(--primary-light),
      var(--primary-dark)
    );
    box-shadow: var(--shadow);
  }

  input[type="submit"]:hover {
    box-shadow: var(--shadow-hover);
  }

  .contact__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(
      to right,
      var(--primary-light),
      var(--primary-dark)
    );
    text-align: left;
    grid-area: i;
    padding: 1rem;
    border-radius: 10px;
  }

  .contact__form {
    grid-area: f;
  }

  .contact__map {
    grid-area: m;
    border-radius: 10px;
  }

  #wf-gmp_1 {
    border-radius: 10px;
  }

  label {
    font-size: 1.5rem;
    //text-transform: uppercase;
  }

  input[type="file"] {
    margin: 1.5rem 0 3rem 0;
  }

  select {
    margin: 3rem 0;
    width: 100%;
    height: 3rem;
  }

  .contact__phone {
    margin: 1rem 3rem;
    font-size: 2.5rem;
  }

  // testimonial ratings
  .stars {
    margin-left: 1rem;
  }

  .star {
    color: var(--primary);
  }

  .star-grey {
    color: var(--darker);
  }

  // gallery
  .gallery {
    margin: 3rem;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .gallery img {
    display: block;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .gallery img:hover {
    box-shadow: var(--shadow-hover);
  }

  .img-large {
    width: 90%;
    margin: 3rem;
    height: auto;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //home
  .home-testimonials__body {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vh 3vh;
  }

  body > div > div > div > div > div > div.home__call {
    padding: 5% 0;
  }

  body > div > div > div > div > div > div.home__testimonials {
    padding: 5% 0;
  }

  .event__date {
    padding: 4rem;
  }

  .home__events {
    grid-area: e;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .home__call {
    grid-area: c;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 5%;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
  }

  .home__testimonials {
    grid-area: t;
    background-color: var(--primary);
    color: white;
    height: 100%;
    width: 100%;
    padding: 3rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .home-testimonials__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .home__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home__events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__events--list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .home__event {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    margin: 1.5rem;
  }

  .event__date {
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--primary-dark)
    );
    /* background-color: var(--primary); */
    color: white;
    display: block;
    border-radius: 10px;
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    width: 60%;
  }

  .event__month {
    display: block;
    font-size: 3rem;
    line-height: 38px;
  }

  .event__day {
    display: block;
    font-size: 2.3rem;
  }

  .home__img {
    width: 100%;
    box-shadow: var(--shadow);
    //border-radius: 10px;
  }
}

@include desktop-up {
  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    // padding: 3vh;
  }

  // .header__logo svg {
  //   width: 95%;
  //   height: 20%;
  //   display: flex;
  //   justify-content: space-evenly;
  // }

  .card {
    background-color: white;
    width: 90%;
    padding: 5%;
    margin: 3rem 0;
    box-shadow: var(--shadow);
    border-radius: 10px;
  }

  .card-full {
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: column;
  }

  .btn {
    text-transform: uppercase;
    vertical-align: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2rem;
    width: 25rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .btn-dark {
    background-image: linear-gradient(
      to right,
      var(--primary-light),
      var(--primary-dark)
    );
  }

  .btn-light {
    background-color: white;
  }

  .btn-large {
    width: 85%;
  }

  .btn:hover {
    box-shadow: var(--shadow-hover);
  }

  #tribe-events-content {
    border-radius: 10px;
  }

  #tribe-events-content table.tribe-events-calendar {
    height: 50vh;
  }

  .nav-about {
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    box-shadow: var(--shadow);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
  }

  .about-back {
    justify-content: flex-start;
  }

  .contact__email {
    margin: 1rem 3rem;
  }

  input[type="text"] {
    background-color: var(--light);
    border: none;
    color: #000;
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0;
    border-radius: 10px;
  }

  input[type="email"] {
    background-color: var(--light);
    border: none;
    color: #000;
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0;
    border-radius: 10px;
  }

  textarea {
    background-color: var(--light);
    border: none;
    color: #000;
    width: 100%;
    margin: 1.5rem 0 3rem 0;
    border-radius: 10px;
  }

  input[type="submit"] {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    width: 40%;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(
      to right,
      var(--primary-light),
      var(--primary-dark)
    );
    box-shadow: var(--shadow);
  }

  input[type="submit"]:hover {
    box-shadow: var(--shadow-hover);
  }

  .contact__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(
      to right,
      var(--primary-light),
      var(--primary-dark)
    );
    text-align: left;
    grid-area: i;
    padding: 1rem;
    border-radius: 10px;
  }

  .contact__form {
    grid-area: f;
  }

  .contact__map {
    grid-area: m;
    border-radius: 10px;
  }

  #wf-gmp_1 {
    border-radius: 10px;
  }

  label {
    font-size: 1.5rem;
    //text-transform: uppercase;
  }

  input[type="file"] {
    margin: 1.5rem 0 3rem 0;
  }

  select {
    margin: 3rem 0;
    width: 100%;
    height: 3rem;
  }

  .contact__phone {
    margin: 1rem 3rem;
    font-size: 2.5rem;
  }

  // testimonial ratings
  .stars {
    margin-left: 1rem;
  }

  .star {
    color: var(--primary);
  }

  .star-grey {
    color: var(--darker);
  }

  // gallery
  .gallery {
    margin: 3rem;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .gallery img {
    display: block;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .gallery img:hover {
    box-shadow: var(--shadow-hover);
  }

  .img-large {
    width: 90%;
    margin: 3rem;
    height: auto;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //home
  .home-testimonials__body {
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: space-around;
    padding: 1vh 3vh;
  }

  body > div > div > div > div > div > div.home__call {
    padding: 5% 0;
  }

  body > div > div > div > div > div > div.home__testimonials {
    padding: 5% 0;
  }

  .event__date {
    padding: 4rem;
  }

  .home__events {
    grid-area: e;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .home__call {
    grid-area: c;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 5%;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
  }

  .home__testimonials {
    grid-area: t;
    background-color: var(--primary);
    color: white;
    height: 100%;
    width: 100%;
    padding: 3rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .home-testimonials__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .home__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home__events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__events--list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .home__event {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    margin: 1.5rem;
  }

  .event__date {
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--primary-dark)
    );
    /* background-color: var(--primary); */
    color: white;
    display: block;
    border-radius: 10px;
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    width: 60%;
  }

  .event__month {
    display: block;
    font-size: 3rem;
    line-height: 38px;
  }

  .event__day {
    display: block;
    font-size: 2.3rem;
  }

  .home__img {
    margin-top: 3vh;
    width: 95%;
    box-shadow: var(--shadow);
    //border-radius: 10px;
  }
}
