:root {
  --primary: #18dcff;
  --primary-light: #53e5ff;
  --primary-dark: #13c2e0;

  --light: #f0eeee;
  --lighter: #faf9f9;

  --dark: #777777;
  --darker: #333;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-hover: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
